body {
    background-image: url("4QunLt.jpg");
    background-size: cover;
    font: normal 15pt Streamster; 
}
header {
    color: blueviolet;
    text-align: center;
}
section {
    background-color: blue;
    border-radius: 100px;
    padding: 100px;
    width: 50px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    background-image: url("hhrthrt.png");
    background-size: 100%;
    background-position: center;
    
}
footer {
    text-align: center;
}
mark{
    background-color: limegreen;
}
